name: Deploy Node JS to Hostinger

on:
  Push:
    branches:
      -main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-actions@v1.0.3
        with:
          host: ${{secrets.SSH_HOST}}
          username: root
          key: ${{secrets.SSH_KEY}}
          script: |
            cd /root
            git pull
            docker compose up -d --build
